/* Importando a fonte "Inter" (texto) e "JetBrains Mono" (código/números) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #050505; /* Fundo preto absoluto */
  color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar Personalizada Dark */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ccff; /* Brilha azul ao passar o mouse */
}